.grid_16#thirdrow
  .grid_11.alpha#video
    = raw @static_page.region1

  .grid_5.omega#topsignup
    %h1<
      Retire young
      %span and
      retire rich
    %hr
    %h3 Sign up now!
    = render "subscribers/form"

.clear

.grid_16#intro
  %p
    = raw @static_page.region2

.clear

.grid_4
  %p
    = raw @static_page.region3
.grid_6
  %p
    = raw @static_page.region4
.grid_6#news
  %p
    = raw @static_page.region5

.clear
