.grid_16#thirdrow
  %h1 #{@static_page.name}
  %p
    =@static_page.region1
.clear

.grid_16#intro
  %p
    = @static_page.region2
.clear

.grid_4
  %p
    = @static_page.region3
.grid_6
  %p
    = @static_page.region4
.grid_6#news
  %p
    = @static_page.region5

.clear
