%h1 #{@product.name}'s subscribers

%table
  %tr
    %th Name
    %th Email
    %th Status
    %th

  - @subscribers.each do |subscriber|
    %tr
      %td= subscriber.name
      %td= subscriber.email
      %td= subscriber.product_list(@product).status
      %td= link_to 'Destroy', admin_product_subscriber_path(@product.id, subscriber.id), confirm: 'Are you sure?', method: :delete

%br

= link_to 'New Subscriber', new_admin_product_subscriber_path(@product.id)
= "|"
= link_to 'View Pages', admin_product_pages_path(@product.id)
= "|"
= link_to 'Back', admin_root_path
