%table
  %tr
    %th Name
    %th Email
    %th Step/ Promotion Name
    %th Referrer
    %th From Facebook

  - @subs.each do |sub|
    %tr
      %td= sub.subscriber_name
      %td= sub.subscriber_email
      %td= sub.step_promotion_name
      %td= sub.affiliate_name
      %td= sub.is_fb

