%h1 #{ @campaign.name }
%strong Campaign Trigger Code:
%em= @campaign.trigger_code

%h3 Steps:
%ol
  - @steps.each do |step|
    %li
      %strong MadMIMI Promotion Name:
      = step.promotion_name
    %ul
      %li
        %strong Page:
        - if !step.next_step.nil?
          = link_to step.page.title, [:admin, @campaign, step.page]
        - else
          = "Last step is dedicated to the"
          = link_to 'Sales Page', [:admin, @sales_page]
          = "."
