- content_for :inline_nav do
  - if current_admin
    = link_to "< Back to Campaign", [:admin, @campaign] unless @campaign.nil?
    = link_to "Edit this Page", "/editor" + request.path, id: "edit_link", data: { save_url: [:admin, @product, @page] }

.grid_16#top_region
  .mercury-region.grid_11.alpha.main#page_content{:'data-mercury' => "full"}= raw @page.content
  .mercury-region.grid_5.omega.sidebar#sidebar{:'data-mercury' => "full"}= raw @page.sidebar
.clear

=# button_to_function "Show Link", "alert( 'Copy this link and paste to your emails: #{request.url.gsub '/admin', ''}/(email)' )", id: "show_link"

/
  - if current_admin
    %p#show_link
      %strong
        Copy this link and paste in your emails:
        %br
      %em
        =# "#{request.url.gsub '/admin', ''}/(email)"
        = "#{page_url(@page.link_code)}?source=(email)"

