= form_for [@page, @subscriber] do |f|
  = hidden_field :affiliate, :id
  - if @subscriber.errors.any?
    %div#error_explanation
      %h2 #{pluralize(@subscriber.errors.count, "error")} is stopping you from being signed up:
      %ul
        - @subscriber.errors.full_messages.each do |msg|
          %li= msg

  = f.text_field :name, :placeholder=> "Name"
  = f.text_field :email, :placeholder=> "E-mail"
  = f.submit "I want to sign up!"
