%p#notice
  = notice

%p
  %b Name:
  = @subscriber.name

%p
  %b Email:
  = @subscriber.email


= link_to 'Edit', edit_product_subscriber_path(@product.id, @subscriber.id)
= |
= link_to 'Back', product_subscribers_path(@product.id)
