!!!
/[if IE 7 ] <html class="ie7 oldie">
/[if IE 8 ] <html class="ie8 oldie">
/[if IE 9 ] <html class="ie9">
/ [if (gt IE 9)|!(IE)]><!
%html
  / <![endif]
  %head
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    %title The 9 to 5  Millionaire
    /[if lt IE 9]
      %script{:src => "http://html5shim.googlecode.com/svn/trunk/html5.js" }
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"}

    = stylesheet_link_tag "dashboard", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
%body
  #header-wrap
    %header
      %nav#routing
        %ul
          - if admin_signed_in?
            %li= "Hello Admin"
            %li= link_to "View Website", root_path
            %li= link_to "Log out", destroy_admin_session_path, :method => :delete
          - else
            %li= link_to "Log in", new_admin_session_path
      %hgroup
        %h1= link_to "The 9 to 5 Millionaire", root_path
        %h3 Journey from a 9 to 5 job to financial freedom.

  / content-wrap
  .content-wrap
    / about us
    - if admin_signed_in?
      %nav#account_lists.clearfix
        %ul
          %li= link_to "Home", admin_root_path
          %li= link_to "Static Pages", [:admin, :static_pages]
          %li= link_to "Products", [:admin, :products]
          %li= link_to "Campaigns", [:admin, :campaigns]
          %li= link_to "Affiliates", [:admin, :affiliates]
          %li= link_to "Subscribers", [:admin, :subscribers]
          %li= link_to "Settings", [:admin, :settings]

    - flash.each do |k,v|
      = content_tag :div, v.html_safe, :class => "flash #{k} clearfix"

    %section#about-us.clearfix
      = yield
      %aside
        = yield(:aside)

    / footer
    %footer
      .footer-content
        %p.footer-text
          The 9 to 5 Millionaire &copy; 2012

