!!!
/[if IE 7 ] <html class="ie7 oldie">
/[if IE 8 ] <html class="ie8 oldie">
/[if IE 9 ] <html class="ie9">
/ [if (gt IE 9)|!(IE)]><!
%html
  / <![endif]
  %head
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    %title The 9 to 5  Millionaire
    /[if lt IE 9]
      %script{:src => "http://html5shim.googlecode.com/svn/trunk/html5.js" }
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"}

    %link{"href" => "http://fonts.googleapis.com/css?family=Dosis:200,400,600,800", "rel" => "stylesheet", "type" => "text/css"}
    %link{"href" => "http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700", "rel" => "stylesheet", "type" => "text/css"}

    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

%body
  %div.container_16#container
    / first row
    %div.grid_10#nav
      %ul
        - if admin_signed_in?
          %li= link_to "Dashboard", admin_root_path
        - else
          %li= link_to "Home", root_path
        %li= link_to "Book", Category.find_by_name("Books")
        %li= link_to "Merchandise", Category.find_by_name("Products")
        %li= link_to "Seminars", Category.find_by_name("Seminars")
        %li= link_to "News", StaticPage.find_by_name("News")
        %li= link_to "Contact", StaticPage.find_by_name("Contact")
    /
      %div.grid_6#social
        %ul
          %li.fb= link_to "Like on FB", "#"
          %li.youtube= link_to "Youtube", "#"
          %li.email= link_to "Email", "#"
          %li.connect= link_to "Connect", "#"
    %div.clear

    /next row
    %div.grid_16
      %img{:src => asset_path('grafx/headbanner.jpg'), :alt => "9-5 Millionaire"}

    %div.clear

    /third row
    %nav#inline_nav= yield(:inline_nav)
    - flash.each do |k,v|
      = content_tag :div, v.html_safe, :class => "flash #{k} clearfix"
    = yield

    /footer
    %div.grid_16#footer
      %ul
        %li= link_to "Home", root_path
        - if admin_signed_in?
          %li= link_to "Log out", destroy_admin_session_path, :method => :delete
        - else
          %li= link_to "Log in", new_admin_session_path
      %ul
        %p The 9 to 5 Millionaire. All Rights Reserved, 2012.
